<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
</head>
<body>


<div class="urls">
    <a href="/">首页</a>
    <a href="/admin/articles?source_type=news">文章列表</a>
    <a href="/admin/insert_article">插入新闻</a>

    <a href="/admin/articles?source_type=indexSlides">首页动图列表</a>
    <a href="/admin/articles?source_type=referSlides">资料动图列表</a>
</div>


<div class="blocks">

    <form action="/admin/insert_article" method="POST">
        标题：<input name="title">
        内容：<input name="content">
        来源：<input name="source">
        来源类型：<select name="source_type">
        <option value="news">新闻</option>
        <option value="indexSlides">首页动图</option>
        <option value="referSlides">资料动图</option>
    </select>
        图片：<input name="image">

        <input type="submit">
    </form>

</div>

<!-- Create the editor container -->
<div id="editor">
</div>

<!-- Include the Quill library -->


<!-- Initialize Quill editor -->
<script>
    var quill = new Quill('#editor', {
        theme: 'snow'
    });
</script>


</body>
</html>