<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>

    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({selector: 'textarea'});</script>
</head>
<body>


<div class="urls">
    <a href="/">首页</a>
    <a href="/admin/articles?source_type=news">文章列表</a>
    <a href="/admin/insert_article">插入新闻</a>

    <a href="/admin/articles?source_type=indexSlides">首页动图列表</a>
    <a href="/admin/articles?source_type=referSlides">资料动图列表</a>
</div>


<div class="blocks">

{{/*<form action="/admin/insert_article" method="POST">*/}}
    标题：<input name="title" class="title">
{{/*内容：<input name="content" class="content">*/}}
    来源：<input name="source" class="source">
    来源类型：<select name="source_type" class="source_type">
    <option value="news">新闻</option>
    <option value="indexSlides">首页动图</option>
    <option value="referSlides">资料动图</option>
</select>
    图片：<input name="image" class="image">

{{/*<input type="submit">*/}}
{{/*</form>*/}}

    <button id="test">提交</button>

</div>

<textarea id="abc">填写正文，可以直接粘贴~</textarea>


<script>
    $(document).ready(function () {
        $('#test').click(function () {
            var content = tinymce.get('abc').getContent();
            console.log('tmp:', content);

            var title = $('.title').val();
            // var content = $('.content').val();
            var source = $('.source').val();
            var source_type = $('.source_type').val();
            var image = $('.image').val();


            console.log('title', title);
            console.log('title', content);
            console.log('title', source);
            console.log('title', source_type);
            console.log('title', image);

            $.post("/admin/insert_article", {
                title: title,
                source: source,
                source_type: source_type,
                image: image,
                content: content,
            }, function (result) {
                $(location).attr('href', '/admin/articles');
            });
        });
    });
</script>


</body>
</html>